<h1>Hello</h1>
<div class="container">
  <p id="your-question">Your question: <br><br> --> <%= @answer %></p>
</div>
<div class="container">
  <p id="answer-reply">The coach's answer: <br><br> -->  <%= @reply %></p>
</div>
