// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
}

.container {
  border: 1px solid rgba(228, 233, 237, 1);
  width: 30%;
  margin-top: 20px;
  padding: 5px;
  box-shadow: 1px 1px 1px gray;
}
